* {
  margin: 0;
  padding: 0;
  background-color: black;
}

:root {
  --white: 255, 255, 255;
  --whitecheck: 255, 255, 255, 0.8;
  --red: 229, 57, 53;
  --orange: 251, 140, 0;
  --yellow: 253, 216, 53;
  --blue: 30, 136, 229;
  --green: 67, 160, 71;

  --theme-color: var(--white);
}

#site-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "🎨 🎨"
    "⬅️ 🔍"
    "⬅️ 🟥"
    "⬅️ 🟥"
    "⬅️ 🟥"
    "⬅️ 🦶";
}

#color-picker {
  grid-area: 🎨;
}

#side-menu {
  grid-area: ⬅️;
  border: #ffffff80 solid 1px;
  display: grid;
  width: 5rem;
}

#search-bar {
  grid-area: 🔍;
}

.search-box {
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: white;
  outline: none;
  padding: 10px;
  width: 100%;
}

.side-button {
  color: rgba(var(--theme-color));
  font-size: large;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 1rem;
  border-radius: 5px;
  margin: 0.5rem;
  border: none;
}

.side-button:hover,
.side-button:focus {
  border: 1px solid rgb(var(--theme-color));
}

input[type="radio"] {
  appearance: none;
  border-radius: 50%;
  margin: 5px;
  height: 40px;
  width: 40px;
  background-clip: content-box;
  padding: 5px;
}

input[type="radio"]#white {
  background-color: white;
  border: 2px solid white;
}

input[type="radio"]#red {
  background-color: red;
  border: 2px solid red;
}

input[type="radio"]#orange {
  background-color: orange;
  border: 2px solid orange;
}

input[type="radio"]#yellow {
  background-color: yellow;
  border: 2px solid yellow;
}

input[type="radio"]#blue {
  background-color: blue;
  border: 2px solid blue;
}

input[type="radio"]#green {
  background-color: green;
  border: 2px solid green;
}
